.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }
  textarea:required:invalid, input:required:invalid {
     background-color: blanchedalmond;
  }
body {
  font-family:'Gill Sans', sans-serif;
  max-width: 650px;
  padding: 0px 30px;
}
h1 {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
label {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
em {
  font-weight: bold;
  font-style: normal;
  color:aqua;
}
input:focus {
  background:rgb(245, 167, 167);
}
input,textarea {
  width: 250px;
}
textarea {
  height: 100px;
}
select {
  width: 255px;
}
input[type=checkbox] {
  width: 10px;
  transform: scale(2.0);
}